#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.canvas {
  position: relative;
  overflow: hidden;
}
.control-panel input[type="color"] {
  margin: 5px;
}
.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}